{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/a222d351e0.js" crossorigin="anonymous"></script>
    <title>My Profile | Syahrul</title>
</head>
<body>
    <article>
        <div class="container title"><h1>MY PROFILE</h1></div>
        <div class="container content">
            <div class="row line-1">
                <div class="col-md-4 photo">
                    <img src="{% static 'gue.JPG' %}" alt="syahrul"> 
                </div>
                <div class="col-md-7 biodata">
                    <div class="greet">
                        <div class="hello">HELLO! I AM </div>
                        <div class="name">SYAHRUL</div>
                        <div class="about-me">
                            <p>I'm an easygoing and friendly person. I have an interest in web development. 
                            In my spare time I usually do my hobbies, such as streaming or exercise.</p>
                        </div>
                    </div>
                    
                    <table border="0">
                        <tr>
                            <td>Name</td>
                            <td>:</td>
                            <td>Abdurrohim Syahruromadhon Wahyudi</td>
                        </tr>
                        <tr>
                            <td>Date of birth</td>
                            <td>:</td>
                            <td>19 December 2000</td>
                        </tr>
                        <tr>
                            <td>Student ID</td>
                            <td>:</td>
                            <td>1906307290</td>
                        </tr>
                        <tr>
                            <td>Class of</td>
                            <td>:</td>
                            <td>2019</td>
                        </tr>
                        <tr>
                            <td>Major</td>
                            <td>:</td>
                            <td>Information System at Universitas Indonesia</td>
                        </tr>
                        <tr>
                            <td>Hobies</td>
                            <td>:</td>
                            <td>Futsal, Basketball, and Streaming</td>
                        </tr>
                        <tr>
                            <td>Education</td>
                            <td>:</td>
                            <td>
                                Universitas Indonesia<br> 
                                SMA Negeri 2 Depok<br>
                                SMP Nurul Fikri Boarding School Lembang
                            </td>
                        </tr>
                        <tr>
                            <td><div class="blank"></div></td>
                        </tr>
                        <tr>
                            <td colspan="3">
                               
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="row line-2 icons">
                <div class="instagram">
                    <a href="https://www.instagram.com/asyahrulrmd/" title="Instagram" target="blank"><i class="fab fa-instagram-square"></i></a>
                </div>
                <div class="linkedin">
                    <a href="https://www.linkedin.com/in/abdurrohim-syahruromadhon-wahyudi-69b952188/" title="Linkedin" target="blank"><i class="fab fa-linkedin"></i></a>
                </div>
                <div class="whatsapp">
                    <a href="https://api.whatsapp.com/send?phone=+6285920001219" title="Whatsapp" target="blank"><i class="fab fa-whatsapp-square"></i></a>
                </div>
                <div class="email">
                    <a href="https://mail.google.com/mail/?view=cm&fs=1&tf=1&to=asyahrulrmd@gmail.com" title="Gmail" target="blank"><i class="fas fa-envelope"></i></a>
                </div>
            </div>
            
        </div>
        <div class="blank"></div>
    </article>
</body>
</html>