@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

* { 
    margin: 0;
}

article {
    background-color: #00334e;
}

.title {
    margin: 0px 200px;
    padding: 20px;
}

.title h1 {
    font: 600 30pt "Poppins";
    color: white;
    letter-spacing: 3px;
}

.greet {
    margin-bottom: 30px;
}

.hello {
    font: 700 17pt "Open Sans", sans-serif;
}

.name {
    font: 700 40pt "Open Sans", sans-serif;
}

.about-me {
    color: rgb(68, 68, 68);
    font: 400 12pt "Open Sans", sans-serif;
}

td {
    padding: 5px 2px;
}

.content {
    background-color: white;
    box-shadow: 1px 0px 20px rgba(0, 0, 0, 0.3);
    border-radius: 15px;
    margin: 0 150px;
    height: 100%;
    padding: 50px;
    font-family: 'Poppins';
    align-items: center;
}

.line-1 {
    display: flex;
    justify-content: center;
}

.photo {
    display: flex;
    width: 40%;
    margin: 20px auto;
    justify-content: center;
}

.photo img {
    width: 100%;
    align-self: flex-start;
    margin: 0 auto;
    min-width: 200px;
    height: auto;
    border-radius: 10px;
}

.biodata {
    width: 800px;
    margin: 20px auto;
}

.biodata table td{
    font: 400 12pt "Poppins", sans-serif;
    vertical-align: text-top;
}

.blank {
    visibility: hidden;
    height: 100px;
}

.line-2 {
    justify-content: center;
}

.icons {
    display: flex;
}

.icons i {
    margin: 30px;
    font-size: 40px;
    cursor: pointer;
    color: #00334e;
    text-align: center;
}

.icons i:hover {
    color: rgb(150, 150, 150);
}

@media all and (max-width: 768px) {
    .photo img {
        width: 70%;
    }
}

@media all and (max-width: 480px) {
    body {
        width: 400px;
        background-color: #00334e;
    }

    .title {
        margin: auto;
        text-align: center;
    }

    .title h1 {
        letter-spacing: 0;
    }

    .bg {
        background-color: #00334e;
    }

    .greet {
        text-align: center;
    }

    .content {
        margin: 0 30px;
        display: block;
    }

    .photo {
        margin: auto;
        justify-self: center;
    }

    .photo img {
        width: 70%;
        height: auto;
    }
    
    .biodata {
        margin: 20px auto;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        padding: 20px;
    }
}